/* HTML5 ✰ Boilerplate | Modified
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; /* Cancel Webkit user selection */-khtml-user-select: none; }
body, button, input, select, textarea { font-family: sans-serif; }
input, select, textarea { -khtml-user-select: auto; }

::-moz-selection { background: none; }
::selection { background: none; }


a { text-decoration: none; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: none; -moz-appearance: none; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }
video:focus { outline: none; }

/* ==|== primary styles =====================================================
   ========================================================================== */

html, body {
    height: 100%;
    overflow: hidden;
}
body {
    text-align: center;
}
h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}
.center {
    display: table;
    height: 100%;
}
.center > .centered {
    display: table-cell;
    vertical-align: middle;
}
.uijet_bar.vertical {
    height: 100%;
}
.uijet_button, .uijet_form button, .uijet_form input[type=submit], .uijet_form input[type=button] {
    display: inline-block;
    padding: 1em;
    cursor: pointer;
}
.uijet_form label {
    display: block;
    margin-bottom: 12px;
    text-align: left;
    font-size: 1.4em;
}
.uijet_form label.error {
    margin-bottom: 0;
}
.uijet_form input[type=text] {
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px 3px;
}
.uijet_list {
    width: 100%;
    list-style: none;
}
.uijet_list a {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.uijet_list li {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.uijet_list.horizontal {
    height: 99%;
}
.uijet_list.horizontal a {
    width: inherit;
    text-align: center;
}
.uijet_list.horizontal li {
    display: inline-table;
    float: left;
    height: 100%;
}
.uijet_list.horizontal.align_center li {
    float: none;
}
.uijet_list.horizontal.align_right li {
    float: right;
}
.uijet_pane, .uijet_routed_content_pane {
    width: 100%;
    height: 100%;
}
.uijet_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.uijet_overlay.darken {
    background-color: rgba(20,20,20,0.7);
}
.uijet_overlay.z_top, .uijet_overlay_wrapper.z_top {
    z-index: 1000;
}
.uijet_overlay_wrapper.darken {
    background-color: rgba(20,20,20,0.7);
}
.uijet_overlay_wrapper.darken .uijet_overlay.darken {
    background-color: transparent;
}
.uijet_view {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    /*right: -100%;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.uijet_view.z_top {
    z-index: 10;
}
.uijet_view_container {
    position: relative;
    width: 100%;
    height: 100%;
}
.uijet_video {
    width: 100%;
    height: 100%;
}
.uijet_widget {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.uijet_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.uijet_wrapper.fixed, .uijet_widget.fixed, .layered {
    position: absolute;
}
.uijet_wrapper.bottom, .uijet_widget.bottom {
    bottom: 0;
}
.uijet_wrapper.left, .uijet_widget.left {
    left: 0;
}
.uijet_wrapper.right, .uijet_widget.right {
    right: 0;
}
.uijet_wrapper.center {
    display: table;
}
.uijet_wrapper.top, .uijet_widget.top {
    top: 0;
}
.uijet_wrapper.scrolled > .uijet_widget {
    height: auto;
}
.uijet_wrapper > .uijet_widget {
    position: relative;
}
.uijet_center_wrapper {
    display: table-cell;
    vertical-align: middle;
}
.uijet_center_wrapper > .uijet_widget {
    position: static;
    margin: auto;
}
.current {
    z-index: 1;
}
.z_top {
    z-index: 10;
}
.transitioned {
    -webkit-transform: translateZ(0);
    -webkit-transition-duration: .5s;
       -moz-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-property: opacity, -webkit-transform, height;
       -moz-transition-property: opacity, -moz-transform, height;
            transition-property: opacity, transform, height;
}
.appear_out {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
    -moz-transform: scale(.4);
    transform: scale(.4);
}
.appear_in {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale(1);
    transform: scale(1);
}
.slide_out {
    position: absolute;
    right: -100%;
}
.slide_in {
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate(-100%,0);
}
.down_slide_out {
    position: absolute;
    top: -100%;
}
.down_slide_in {
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate(0,100%);
}
.fade_out {
    position: absolute;
    opacity: 0;
}
.fade_in {
    opacity: 1;
}
.fold_out {
    height: 0;
    overflow-y: hidden;
}
.reverse.slide_out {
    right: auto;
    left: -100%;
}
.reverse.slide_in {
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate(100%,0);
}
#main {
    visibility: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#main.ipad {
    padding-top: 20px;
}

.float {
    position: absolute;
    z-index: 200;
    height: auto;
}
.float > .uijet_widget {
    position: static;
    /*overflow: hidden;*/
}
.hide { display: none !important; }

/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}
