/*
 * UIjet base normalize
 */

html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    text-align: center;
}
a {
    text-decoration: none;
}
h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}
form {
    margin: 0;
}
label {
    cursor: pointer;
}
video:focus {
    outline: none;
}

.center {
    display: table;
    height: 100%;
}
.center > .centered {
    display: table-cell;
    vertical-align: middle;
}
.uijet_app {
    visibility: hidden;
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.uijet_app.cover {
    position: absolute;
}
.uijet_app.ipad {
    padding-top: 20px;
}
.uijet_button, .uijet_form button, .uijet_form input[type=submit], .uijet_form input[type=button] {
    display: inline-block;
    padding: 1em;
    cursor: pointer;
}
.uijet_list {
    width: 100%;
    list-style: none;
}
.uijet_list > li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
.uijet_list.horizontal {
    height: 100%;
}
.uijet_list.horizontal > li {
    display: inline-block;
    float: left;
    height: 100%;
}
.uijet_list.horizontal.align_center {
    text-align: center;
}
.uijet_list.horizontal.align_center li {
    float: none;
}
.uijet_list.horizontal.align_right {
    text-align: right;
}
.uijet_list.horizontal.align_right li {
    float: right;
}
.uijet_pane {
    width: 100%;
    height: 100%;
}
.uijet_overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.uijet_overlay.darken {
    background-color: rgba(20,20,20,0.7);
}
.uijet_overlay.z_top, .uijet_overlay_wrapper.z_top {
    z-index: 1000;
}
.uijet_overlay_wrapper.darken {
    background-color: rgba(20,20,20,0.7);
}
.uijet_overlay_wrapper.darken .uijet_overlay.darken {
    background-color: transparent;
}
.uijet_view {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    /*right: -100%;*/
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.uijet_view.z_top {
    z-index: 10;
}
.uijet_view_container {
    position: relative;
    width: 100%;
    height: 100%;
}
.uijet_video {
    width: 100%;
    height: 100%;
}
.uijet_widget {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.uijet_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.uijet_wrapper.float, .uijet_widget.float {
    width: auto;
    height: auto;
}
.uijet_wrapper.center {
    display: table;
}
.uijet_wrapper.scrolled > .uijet_widget {
    height: auto;
}
.uijet_wrapper > .uijet_widget {
    position: relative;
}
.uijet_center_wrapper {
    display: table-cell;
    vertical-align: middle;
}
.uijet_center_wrapper > .uijet_widget {
    position: static;
    margin: auto;
}
.current {
    z-index: 1;
}
.z_top {
    z-index: 10;
}
.layered {
    position: absolute;
}
.promoted {
    -webkit-transform: translateZ(0);
}
.transitioned {
    -webkit-transition-duration: .5s;
       -moz-transition-duration: .5s;
         -o-transition-duration: .5s;
            transition-duration: .5s;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-property: opacity, -webkit-transform, height;
       -moz-transition-property: opacity, -moz-transform, height;
         -o-transition-property: opacity, -o-transform, height;
            transition-property: opacity, -ms-transform, transform, height;
}
/*TODO: might need to replace the -webkit-transform targeting for 3d hardware acceleration with a media query */
.appear_out {
    position: absolute;
    opacity: 0;
    -webkit-transform: scale3d(.4, .4, .4);
    -moz-transform: scale(.4);
    -ms-transform: scale(.4);
    -o-transform: scale(.4);
    transform: scale(.4);
}
.appear_in {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.slide_out {
    position: absolute;
    right: -100%;
}
.slide_in {
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate(-100%,0);
    -ms-transform: translate(-100%,0);
    -o-transform: translate(-100%,0);
    transform: translate(-100%,0);
}
.down_slide_out {
    position: absolute;
    top: -100%;
}
.down_slide_in {
    -webkit-transform: translate3d(0,100%,0);
    -moz-transform: translate(0,100%);
    -ms-transform: translate(0,100%);
    -o-transform: translate(0,100%);
    transform: translate(0,100%);
}
.fade_out {
    position: absolute;
    opacity: 0;
}
.fade_in {
    opacity: 1;
}
.fold_out {
    position: relative;
    height: 0;
    overflow-y: hidden;
}
.reverse.slide_out {
    right: auto;
    left: -100%;
}
.reverse.slide_in {
    -webkit-transform: translate3d(100%,0,0);
    -moz-transform: translate(100%,0);
    -ms-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    transform: translate(100%,0);
}

.float {
    position: absolute;
    z-index: 200;
    top: -9000px;
    height: auto;
}
.float.show {
    top: 0;
}
.float > .uijet_widget {
    position: static;
    /*overflow: hidden;*/
}
/**************/
/* Datepicker */
/**************/
.uijet_datepicker {
    text-align: center;
}
.uijet_wrapper.uijet_datepicker_wrapper {
    left: 0;
    width: 11.9rem;
}
.uijet_datepicker_current_date {
    display: inline-block;
    margin-top: 1rem;
    vertical-align: top;
    font-size: 1.1rem;
    line-height: 100%;
}
.uijet_datepicker_list {
    text-align: left;
}
.uijet_datepicker_list > li {
    display: inline-block;
    width: 1.7rem;
    height: 1.7rem;
    line-height: 1.7rem;
    vertical-align: middle;
    text-align: center;
}
.uijet_datepicker_arrow {
    padding: 0;
    margin-top: 1rem;
    vertical-align: top;
    font-size: 1.1rem;
    line-height: 100%;
}
.uijet_datepicker_next {
    float: right;
    margin-right: 1rem
}
.uijet_datepicker_prev {
    float: left;
    margin-left: 1rem;
}
.uijet_datepickerinput_wrapper {
    overflow: visible;
}
.uijet_dropmenubutton_wrapper {
    overflow: visible;
}
.uijet_draggee {
    position: absolute !important;
    z-index: 1001 !important;
    margin: 0 !important;
    -webkit-box-shadow: 0 0 8px 2px rgba(66, 66, 66, .5);
    -moz-box-shadow: 0 0 8px 2px rgba(66, 66, 66, .5);
    box-shadow: 0 0 8px 2px rgba(66, 66, 66, .5);
}

.uijet_select_wrapper {
    height: auto;
    overflow: visible;
}

.hide { display: none !important; }

/* ==|== non-semantic helper classes ======================================== */
.ir { border: 0; overflow: hidden; background-color: transparent; }
.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
